.tt {
    background-image: url("public/images/final.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 40%;
    font-weight: 800;
    font-size: large;
}
